{% extends "layout.html" %}    
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">Latest Work</h2>
  <p class="blog-post-meta">Updated April 21th, 2017</p>
  <p>
    Here is a sampling of what I've been working on lately. 
  </p>
  <h3>Projects</h3>
  <ul>
    <li><strong>Life Stream</strong>
      <br />
      I continue to work on my final Metis project. The main user dashboards contain personal data, so are protected from public view by a robust user authentication system. I built a presentation on this project for Metis Career Day in the form of a marketing website. This can be found <a href="https://life-stream-intro.herokuapp.com/">here</a>.
    </li>
    <li><strong>Understanding the Amazon from Space</strong>
      <br />
      I've started working on the latest Kaggle competition <a href="https://www.kaggle.com/c/planet-understanding-the-amazon-from-space/discussion/31851">Planet: Understanding the Amazon from Space</a>. The goal of this competition is to use satellite data to track the human footprint in the Amazon rainforest. Further updates will be poste here.
    </li>
  </ul>
  <h3>Presentations</h3>
  <ul>
    <li><strong>The Metis Experience, PyMNtos 4/13</strong><br />
      I recently presented at <a href="https://www.meetup.com/PyMNtos-Twin-Cities-Python-User-Group/events/237061548/">Minnesota Pythong User Group</a>. Here is my presentation.
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/AGLVn1kg1MWlTP" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/RosanneHoyem/the-metis-experience-presentation" title="The Metis Experience Presentation" target="_blank">The Metis Experience Presentation</a> </strong> from <strong><a target="_blank" href="https://www.slideshare.net/RosanneHoyem">Rosanne Hoyem</a></strong> </div>
    </li>
    <li><strong>Getting to Know Airflow, PyMNtos Web Dev Night 4/27</strong><br />
      I'll be presenting the last week of April on Airflow basics.
    </li>
  </ul>
  <h3>How To's and Resources</h3>
  <ul>
    <li>
      <a href="https://gist.github.com/rosiehoyem/9e111067fe4373eb701daf9e7abcc423">Tutorial for Airflow Setup</a>
    </li>
    <li>
      <a href="https://gist.github.com/rosiehoyem/05a6961a72b3acb02e6857e9a29b41a4">Tutorial for a Minimally Viable Flask App, </a>The app <a href="http://metis-quizr.herokuapp.com/">Quizr, lives here</a>.
    </li>
  </ul>
</div>
{% endblock %}