<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>12 Weeks at the Metis Data Science Bootcamp by Rosie Hoyem</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flatly_bootstrap.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">The Metis Experience</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://rosiehoyem.herokuapp.com">My Home Site</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Resources <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://www.linkedin.com/in/rosiehoyem/">LinkedIn</a></li>
                <li><a href="https://github.com/rosiehoyem">Github</a></li>
                <li><a href="https://resume.creddle.io/resume/cts0tgxuqk8">Resume</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">The Metis Experience</h1>
        <p class="lead blog-description">All about my experience at the Metis Data Science Bootcamp</p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
        {% block content %}{% endblock %}
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>I attended the Metis Data Science program in Chicago from January to April of 2017. I've collected a detailed account of that experience here. If you're thinking of applying to do a data science program like Metis, I hope you find this helpful in making your decision. If you're here because you might want to hire me, I hope this gives you some insight into how I think and what I learned during this experience.</p>
          </div>
          <div class="sidebar-module">
            <h4>The Whole Story</h4>
            <ol class="list-unstyled">
              <li><a href="{{ url_for('metis_blog_0') }}">Part 0, The Prequel</a></li>
              <li><a href="{{ url_for('metis_blog_1') }}">Part 1, Weeks 1-3</a></li>
              <li><a href="{{ url_for('metis_blog_2') }}">Part 2, Weeks 4-6</a></li>
              <li><a href="{{ url_for('metis_blog_3') }}">Part 3, Weeks 7-9</a></li>
              <li><a href="{{ url_for('metis_blog_4') }}">Part 4, Weeks 9-12</a></li>
              <li><a href="{{ url_for('metis_blog_5') }}">Part 5, Final Thoughts</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
    <footer class="blog-footer">
      <p>Thoughts shared here belong to <a href="http://rosiehoyem.herokuapp.com">Rosie Hoyem</a>.</p>
      <p>
        <a href="#">Back to Home</a>
      </p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle') }}"></script>
  </body>
</html>