{% extends "layout.html" %}    
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">Preparing for the Next Step</h2>
  <p class="blog-post-meta">November-December, 2016 by <a href="#https://rosiehoyem.herokuapp.com">Rosie</a></p>

  <h3>The Decision to Pursue Data Science</h3>

  <p>The process of entering a bootcamp is right up there with applying to go to grad school. Like attending graduate school, you will spend months preparing and applying to different programs. Then if you do get in, you'll drop everything in life immerse yourself in your chosen topic. You'll likely quite your job, lose a bunch of income as well as fork out a pile of cash for tuition, and also have to take time out from your  normal life. Though it's a much shorter time frame, the commitment should not be taken forgranted.</p>

  <p>I started pondering the possibility of studying data science almost before I finished my last bootcamp in Web Development in 2013. Since then, Data Science as a field and and opportunity has only continued to grow. I also realized I had interests that weren't getting fed by web development, though I was enjoying the technical nature of the work. Data Science promised to bring together my technical skills with big, hairy, complex, interesting problems.</p>

  <h3>Researching Different Programs</h3>

  <p>Even while in my previous bootcamp, the Flatiron School I’ve been fascinated with data science. The first data science bootcamp came into my perview during that fall, and I funny enough encouraged my sister to attend as they required a PhD for attmittance. Fast forward a couple of years to the other side of the country in San Franciso, I visited my best friend from college in the Galvanize coworking space in San Francisco. Here I discovered that G School, a program I had considered for my full-stack bootcamp experience, had morphed into <a href="http://www.galvanize.com/">Galvanize</a> and now overed several different data oriented programs. I was barely a year and half into my time as a Rails Developer, so did not seriously consider the leap, but it was definitley bookmarked in my mind.</p>

  <p>This past year I again revisited the idea after decideing to take a break from working full-time to do house projects and get a bit of traveling in. Galvanize was at the top of my list, but I also threw wide net and looked for other programs that had popped up across the country, not wanting to put all of my eggs in one basket.</p>

  <h3>The Application Process</h3>

  <p>I ended up completing the full application process for both the Galvanize and the Metis programs. Both were challenging in their own ways. Galvanize involved a 4 step process that included an initial written application, an at-home technical exam, a remote, in-person technical coding exam, then a final in-person math and statistics exam. Metis was a similar process with an initial online application, then a quite challenging set of take home exercises, and an in-person interview and technical assessment. The rigor of the interview process was in reality a great way to jump start my preparation to attend either of the programs.</p>

  <h3>Evaluating Options and Working out the Finances</h3>

  <p>I did my homework and from any subjective measure I could find, both programs appeared to be quality programs with mostly positive reviews coming from students who successfully found jobs afterwards. (There’s always a disgruntled person or two who have other things to say about it.)</p>

  <p>In the end I was accepted to both programs and both programs offered me a nice scholarship, landing them at about the same price point. Had the logistics an timing of the programs been more similar, it would have been a tough decision. In the end though, the timing for the Galvanize in Denver would have been tough for me to swing. By the time I was formally accepted, I would have had less than a week and half to pack-up my life in Minneapolis and move to Denver. The real clincher came when my aunt and uncle offered to put me up for free in Chicago.</p> 

  <h3>Metis Prework</h3>

  <p>Prework is an essential part of the bootcamp experience. This model of spending 2-3 months building a foundation of using free/nearly free resources available online before attending an intense in-person program is, in my opinion, an extremely efficient way to approach modern education. At this point in my life I don’t need to have my hand held to learn and I appreciate the independent nature of the first phase of this approach.</p>

  <p>In total, the application process and preparation for the program ended-up taking me about 8 weeks. Much of the core preparation was done while cramming for the various steps of the application process. Both of the programs had clear expectations for the things applicants should be proficient with, so I spent a good amount of time during the first weeks beefing-up my python skills and reviewing math and statistical concepts I hadn’t revisited since graduate school.s</p>
</div>
{% endblock %}