{% extends "layout.html" %}    
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">Life Post Metis</h2>
  <p class="blog-post-meta">April 8th, 2017 and Beyond!</p>

  <h3>The Job Hunt</h3>
  <p>
    The program ending does not mean the process is over. I just returned to Minneapolis a few days ago and am still hard at work. I am applying for jobs of course, but that is only a small part of this process. I'm also building the foundation that will help me move forward into this career. I'll post updates here soon as I have them. My broader strategy is focused on speaking, building, and networking. 
  </p>
  <h4>Speaking</h4>
  <p>
    I'm trying to really get out into the tech community and speak. My first talk was at <a href="https://www.meetup.com/PyMNtos-Twin-Cities-Python-User-Group/events/237061548/">PyMntos</a> on April 13th. I hope to follow this up with more speaking engagements later in the spring.
  </p>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/AGLVn1kg1MWlTP" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/RosanneHoyem/the-metis-experience-presentation" title="The Metis Experience Presentation" target="_blank">The Metis Experience Presentation</a> </strong> from <strong><a target="_blank" href="https://www.slideshare.net/RosanneHoyem">Rosanne Hoyem</a></strong> </div>
  <h4>Building</h4>
  <p>
    I also plan to continue working on my final passion project and to continue working on this site, adding more concrete examples, code snippets, and visualizations.
  </p>
  <h4>Networking</h4>
  <p>
    I will also be going out of my way to meet as many people as possible. This will include going to extra Meetups, setting-up coffee dates, and attending recruiting events and conferences. The more connections I can make the better. 
  </p>
  <p>
    The project of getting my first job as a data scientist is also part of just a larger project of becoming a better data scientist. In all reality, all of these tasks will augment my skills and help me to refine my understanding of the field.
  </p>
</div>
{% endblock %}